.about-me__about {
    padding-bottom: 50px;
    width: 90%;
}
.about-me__container {
    align-items: left;
    background-color: white;
    display: flex;  
    flex-direction: column;
    font-size: 22px;
    line-height: 2;
    margin-left: 15vw;
    padding-top: 30px;
    width: 75vw;
}

.about-me__picture {
    border: 1px solid #8996ac;
    border-radius: 50%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}