.project__container {
    margin-bottom: 5vh;
}

.project__description {
    color: $light-grey;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}

.project__technologies {
    color: $light-grey;
    font-size: 16px;
    margin-left: 10px;
}

.project__title {
    font-size: 24px;
    font-weight: bold;
}
